Schedule Start.json
[{"id":"4d681b5e.5d84d4","type":"tab","label":"Settings Flow","disabled":false,"info":""},{"id":"3a9f4181.f4a86e","type":"ui_text_input","z":"4d681b5e.5d84d4","name":"","label":"","tooltip":"","group":"cca442ee.13d99","order":3,"width":0,"height":0,"passthru":true,"mode":"time","delay":300,"topic":"","x":400,"y":280,"wires":[["7c4fe2ad.18012c"]]},{"id":"ad9187c6.754298","type":"function","z":"4d681b5e.5d84d4","name":"","func":"var start_time = Math.round(global.get(\"start\"));\nvar hlt_switch = global.get(\"HLT_auto\");\n//var msg1= { payload:0};\nvar now = new Date(),\n    then = new Date(now.getFullYear(),now.getMonth(),now.getDate(),0,0,0),\n    diff = Math.round((now.getTime() - then.getTime())/1000); // difference in milliseconds\n    msg.payload = diff;\n    if (diff == start_time && hlt_switch){\n        var msg1= {topic:'switched message',payload: false};\n        //return msg;\n    }\n    return [msg,msg1]\n   // }else{\n//        msg.payload = \"No Match\";\n//    }","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1040,"y":400,"wires":[[],["ff3e0cf8.583e6"]]},{"id":"7c4fe2ad.18012c","type":"change","z":"4d681b5e.5d84d4","name":"","rules":[{"t":"set","p":"start","pt":"global","to":"$round(payload/1000)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":280,"wires":[[]]},{"id":"28186122.1af01e","type":"ui_text","z":"4d681b5e.5d84d4","group":"3a74c05f.43e9d","order":10,"width":0,"height":0,"name":"","label":"HLT Auto Start time","format":"{{msg.payload}}","layout":"col-center","x":1430,"y":340,"wires":[]},{"id":"cf221349.7cbbf","type":"inject","z":"4d681b5e.5d84d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":380,"wires":[["ad9187c6.754298","87421f29.25c53"]]},{"id":"ff3e0cf8.583e6","type":"link out","z":"4d681b5e.5d84d4","name":"","links":["b2cd2e1a.71acd"],"x":1355,"y":400,"wires":[]},{"id":"2c105d47.f08992","type":"change","z":"4d681b5e.5d84d4","name":"","rules":[{"t":"set","p":"HLT_auto","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":480,"wires":[["3bca8f54.f03f2"]]},{"id":"78fc3476.60963c","type":"inject","z":"4d681b5e.5d84d4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"false","payloadType":"bool","x":390,"y":480,"wires":[["90992863.bf6128"]]},{"id":"87421f29.25c53","type":"change","z":"4d681b5e.5d84d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":340,"wires":[["8acd0bca.09bee8"]]},{"id":"8acd0bca.09bee8","type":"change","z":"4d681b5e.5d84d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload*1000)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":340,"wires":[["17a4c61a.50750a"]]},{"id":"17a4c61a.50750a","type":"moment","z":"4d681b5e.5d84d4","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/London","adjAmount":"1","adjType":"hours","adjDir":"subtract","format":"HH:mm","locale":"en_GB","output":"","outputType":"msg","outTz":"Europe/London","x":1080,"y":340,"wires":[["28186122.1af01e"]]},{"id":"90992863.bf6128","type":"ui_switch","z":"4d681b5e.5d84d4","name":"","label":"HLT Schedule Start","tooltip":"","group":"cca442ee.13d99","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":840,"y":480,"wires":[["2c105d47.f08992"]]},{"id":"3bca8f54.f03f2","type":"ui_text","z":"4d681b5e.5d84d4","group":"3a74c05f.43e9d","order":9,"width":"4","height":"2","name":"Schedule Indicator","label":"","format":"<font color={{(msg.payload?\"red\":\"grey\")}}><i class=\"fa fa-clock-o fa-5x\"></i></font><br/>","layout":"col-center","x":1030,"y":540,"wires":[]},{"id":"6518e33e.2f9eec","type":"ui_switch","z":"4d681b5e.5d84d4","name":"Temp Selector","label":"<i class=\"fa fa-thermometer-full fa-2x\"></i> Analog/Digital Temp","tooltip":"","group":"cca442ee.13d99","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":920,"y":720,"wires":[[]]},{"id":"cca442ee.13d99","type":"ui_group","z":"","name":"Settings","tab":"91165305.058c1","order":1,"disp":true,"width":"6","collapse":false},{"id":"3a74c05f.43e9d","type":"ui_group","z":"","name":"HLT","tab":"16bf248c.4312db","order":3,"disp":false,"width":"4","collapse":false},{"id":"91165305.058c1","type":"ui_tab","z":"","name":"Settings","icon":"fa-cogs","order":3,"disabled":false,"hidden":false},{"id":"16bf248c.4312db","type":"ui_tab","z":"","name":"Ferrell Brewing","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
